<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <head>
        <link rel="stylesheet" type="text/css" href="css/video_player.css">
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title of the document</title>
    </head>
</head>
<body style="background-color: #7b9294">


<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded ml-2 mr-2 mt-2 mb-2">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">My project</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/main_view">Main view</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/motion_det">Motion det.</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ch_param">Parameters</a>
            </li>
        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->


<div class="container-fluid">
    <div class="row p-2 m-0">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 p-2 mb-2 bg-dark rounded" id="ch_selector">
            <button th:each="channel: ${channels}" th:value="${channel.id}" th:text="${channel.name}" type="button" href="/channels/" class="btn btn-secondary btn-lg btn-block" aria-pressed="false">
            </button>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
            <div class="row p-2 m-0 bg-dark rounded">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center">
                    <div class="bg-secondary rounded" id="video_div">
                        <div class="embed-responsive embed-responsive-16by9">
                            <video id="video_player" class="video-fluid embed-responsive-item" value="" href="/number" autoplay loop muted playsinline allowfullscreen ></video>
                            <div class="playpause" id="pause_icon"></div>
                        </div>
                    </div>
                    <div class="mt-1 ml-1">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="stream_selector" id="stream_1" >
                            <label class="form-check-label text-light h6" >Stream 1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="stream_selector" id="stream_2" checked>
                            <label class="form-check-label text-light h6" >Stream 2</label>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <form>
                        <div class="form-group">
                            <label class="text-light" >Channel name <span id="ch_name_span" class="badge"></span> </label>
                            <input type="text" class="form-control" placeholder="Enter channel name" id="ch_name" value="">
                        </div>
                        <div class="form-group">
                            <div class="mb-2">
                                <button type="button" class="btn btn-secondary" id="enable_input_stream_1" value="">UNKNOWN</button>
                                <label class="text-light mr-2" >Stream 1 <span id="stream_1_span" class="badge"></span></label>
                                <label class="mr-2" id="state_stream_1"></label>
                            </div>
                            <input type="text" class="form-control" placeholder="RTSP Link ( Stream 1 )" id="input_stream_1" value="">
                        </div>
                        <div class="form-group">
                            <div class="mb-2">
                                <button type="button" class="btn btn-secondary" id="enable_input_stream_2" value="">UNKNOWN</button>
                                <label class="text-light mr-2" >Stream 2 <span id="stream_2_span" class="badge"></span></label>
                                <label class="mr-2" id="state_stream_2"></label>
                            </div>
                            <input type="text" class="form-control" placeholder="RTSP Link ( Stream 2 )" id="input_stream_2" value="">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="webjars/popper.js/1.16.1/dist/umd/popper.min.js"></script>
<script src="webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="libs/js/adapter.min.js"></script>
<script src="libs/js/web_socket.min.js"></script>
<script src="libs/js/janus.js"></script>
<script src="scripts/ch_param.js"></script>
</body>
</html>