<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <head>
        <link rel="stylesheet" type="text/css" href="css/video_player.css">
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title of the document</title>
    </head>
</head>
<body style="background-color: #7b9294">

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded ml-2 mr-2 mt-2 mb-2">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">My project</a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/main_view">Main view</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/motion_det">Motion det.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ch_param">Parameters</a>
                </li>
            </ul>
            <!-- Links -->
        </div>
        <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 align-self-center">
                <div class="bg-dark rounded p-2">
                    <div class="bg-secondary rounded" id="video_div" >
                        <div class="embed-responsive embed-responsive-16by9">
                            <video id="video_player" class="video-fluid embed-responsive-item" value="" href="/number" autoplay loop muted playsinline allowfullscreen ></video>
                            <div class="playpause" id="pause_icon"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-light p-1 h5" id="ch_name" value=""></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-check form-check-inline p-1">
                                <input class="form-check-input" type="radio" name="stream_selector" id="stream_1">
                                <label class="form-check-label text-light h6" >Stream 1</label>
                            </div>
                            <div class="form-check form-check-inline p-1">
                                <input class="form-check-input" type="radio" name="stream_selector" id="stream_2" checked>
                                <label class="form-check-label text-light h6" >Stream 2</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 p-4">
                <div class="bg-dark d-flex justify-content-center rounded mb-1">
                    <p class="text-light h4" >Motion Events</p>
                </div>
                <table class="table table-hover table-dark rounded">
                    <thead>
                        <tr>
                            <th scope="col">Channel</th>
                            <th scope="col">Last events</th>
                            <th scope="col">State</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="channel,iterator: ${channels}">
                            <td>
                                <button th:value="${channel.id}" th:text="${channel.name}" type="button" class="btn btn-outline-secondary btn-block" ></button>
                            </td>
                            <td>00:00:00</td>
                            <td>State</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="webjars/popper.js/1.16.1/dist/umd/popper.min.js"></script>
    <script src="webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="webjars/popper.js/1.16.1/dist/umd/popper.min.js"></script>
    <script src="libs/js/adapter.min.js"></script>
    <script src="libs/js/web_socket.min.js"></script>
    <script src="libs/js/janus.js"></script>
    <script src="scripts/main_view.js"></script>
</body>
</html>